<h1>{{ category.name }}</h1>

{% if user.is_authenticated %}
    {% if is_subscribed %}
        <p>Вы подписаны на эту категорию.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отписаться</button>
        </form>
    {% else %}
        <p>Вы не подписаны на эту категорию.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Подписаться</button>
        </form>
       <!-- <a href="{% url 'subscribe_category' category_id=category.id %}">Подписаться</a>  Альтернатива через GET-->
    {% endif %}
{% else %}
    <p>Войдите, чтобы подписаться.</p>
{% endif %}

<ul>
    {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|truncatechars:50 }}</p>
        </li>
    {% endfor %}
</ul>