<!DOCTYPE html>
<html>
<head>
    <title>Новая статья</title>
</head>
<body>
    <h2>Новая статья: {{ post.title }}</h2>
    <p>Здравствуйте, {{ username }}! В категории "{{ category.topic }}" появилась новая статья.</p>
    <p>{{ post.preview }}</p>
    <p><a href="{{ post_url }}">Читать статью полностью</a></p>
    <hr>
    <p>Если вы больше не хотите получать уведомления из этой категории, вы можете отписаться на странице категории.</p>
    <p>С уважением,<br>Команда новостного портала</p>
</body>
</html>