<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать</title>
</head>
<body>
    <h1>Добро пожаловать, {{ username }}!</h1>
    <p>Спасибо за регистрацию на нашем новостном портале.</p>
    <p>Теперь вы можете:</p>
    <ul>
        <li>Подписываться на интересные вам категории</li>
        <li>Получать уведомления о новых статьях</li>
        <li>Публиковать свои собственные статьи (после получения прав автора)</li>
    </ul>
    <p>Начните знакомство с сайтом: <a href="{{ site_url }}">{{ site_url }}</a></p>
    <p>С уважением,<br>Команда новостного портала</p>
</body>
</html>